.registration-container {
    color: #222;
    margin: 0;
    background-color: #f4f4f4;
    padding: 20px;
}

.registration-section {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

form
.registration-section h2 {
    border-bottom: 2px solid #444;
    padding-bottom: 8px;
    margin-bottom: 25px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.registration-form-group {
    margin-bottom: 20px;
}

.registration-form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #444;
}

.registration-form-group input {
    width: 96.5%;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.registration-form-group input:focus {
    border-color: #555;
    outline: none;
}

.registration-form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.submit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #2980b9;
}

.cancel-btn {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.cancel-btn:hover {
    background-color: #e0e0e0;
}

/* Стили для чекбокса */
.checkbox-group {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  accent-color: #444;
}

.checkbox-group label {
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}